@font-face {
    font-family: 'Montserrat';
    src: url('./Montserrat-ExtraBold.ttf') format('truetype');
    font-style: normal;
}
html{
    background: #111827;
}
html, body{
    margin: 0;
    padding: 0;
}
.bg{
  background: #0c111d;
  display: flex;
  color: white;
  font-family: Montserrat;
  padding: 5px;
  z-index: 1;
  align-items: center;
}
.logo{
  margin-left: 30px;
}
.gd{
  color: #A0AFD1;
}
.levelInfo{
    background: #19243a;
    width: 40%;
    padding: 30px;
    border: 3px solid #26344F;
    border-radius: 15px;
    margin-top: 100px;
}
main{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.video{
    width: 80%;
    height: 350px;
    border-radius: 20px;
}
#videoContainer{
    display: flex;
    justify-content: center;
}
.placement, .name{
    color: white;
    font-size: 24px;
    font-family: Montserrat;
}
.placement{
    color: #A0AFD1;
    margin-right: 20px;
}
.nameContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.verCon{
    display: flex;
    justify-content: center;
}
.verifier{
    color: lightgreen;
    font-size: 18px;
    font-family: Montserrat;
    margin-bottom: 30px;
}
.card{
    background: #243452;
    padding: 25px;
    border-radius: 15px;
    border: 3px solid #334468;
    color: white;
    font-family: Montserrat;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    box-shadow: -10px 15px 10px #192133;
}
.cardContainer{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 40%);
    justify-content: center;
    margin-top: 50px;
}
.backBtn{
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: 10px;
    font-size: 30px;
    cursor: pointer;
    margin-left: 20px;
    color: white;
    background: #19243a;
}
#image{
    width: 550px;
    clip-path: inset(12.5% 0% 12.5% 0% round 10px);
}
.imageCon{
    display: flex;
    justify-content: center;
}
.record{
    background: #19243a;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-family: Montserrat;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 10px;
    margin-left: 10px;
    border: 3px solid #394f7c;
    cursor: pointer;
    transition: 0.2s ease;
}
.record:hover{
    transform: scale(1.02);
    border: 3px solid lightcoral;
    box-shadow: -10px 10px 25px rgba(0, 0, 0, 0.3);
}
.recordsContainer{
    margin-top: 50px;
    max-height: 500px;
    overflow-y: auto;
    background: #26344F;
    border-radius: 10px;
    padding: 20px;
}
.recordsContainer::-webkit-scrollbar{
    background: #26344F;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.percent{
    margin-right: 20px;
}
.playerName{
    margin-left: 15px;
}
.noRecord{
    color: white;
    opacity: 0.4;
}
.recordCountCon{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-family: Montserrat;
    color: white;
}